extends layout

block content
    div.container
        h2.srhead Staging and Reporting Development
        nav.srnav
            ul.navigation
                li 
                    a(href="http://localhost:1010/srops") SROPS
                li 
                    a(href="http://localhost:1010/lansa") LANSA
                li 
                    a(href="http://localhost:1010/mdms") MDMS
                li 
                    a(href="http://localhost:1010/rds") RDS
        div.content Information
        