extends layout

block content
    div.container
        h2.srhead Staging and Reporting Operations
        nav.srnav
            ul.navigation
                li 
                    a(href="http://localhost:1010/srdev") SRDEV
                li 
                    a(href="http://localhost:1010/lansa") LANSA
                li 
                    a(href="http://localhost:1010/mdms") MDMS
                li 
                    a(href="http://localhost:1010/rds") RDS
        div.content Information
            