/* body {
    /* padding: 50px; */
 /*   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  } */
  
  a {
    color: #00b7ff;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover {
    background-color: rgba(225, 201, 248, 0.5);
    box-shadow: 0 0 4px 3px rgba(225, 201, 248, 0.5);
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s;
  }
  
  .srhead {
    width: 100%;
  }
  
  .srnav {
    width: 100%;
  }
  
  .navigation {
    display: inline-flex;
    list-style: none;
    padding: 0 40px;
    min-width: 150px;
    flex-wrap: wrap;
  }
  
  .navigation li {
    margin: 0 4vw;
  }